.complain__link {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
.complain__link:hover {
  opacity: .6;
}
@media (max-width: 680px) {
  .complain__link {
    font-size: 30px;
  }
}
