.intro {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 50%);
  grid-auto-flow: row;
  width: 100%;
  margin: 0 auto;
}
@media  (max-width: 930px) {
  .intro {
    grid-template-columns: 1fr;
  }
}
