.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1410px;
  padding: 0 80px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 680px) {
  .header__container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 30px;
  }
}
